# Dependency directories
node_modules/
npm_modules/
bower_components/
jspm_packages/
pnpm-lock.yaml
package-lock.json
yarn.lock

# Build output and compiled files
dist/
build/
out/
*.local
*.log

# Environment and local configuration
.env

# Logs
npm-debug.log*


# Typescript and build tool specific
*.tsbuildinfo
*.tgz

**/dist-ssr/
**/vite-env.d.ts
eslint.*
index.html
prettierrc*
tsconfig.json
vite.config.ts
tailwind.config.js
postcss.config.js
tsconfig.*


**/src/assets/**/*

!**/src/components/**/*
!**/src/pages/**/*
!**/src/hooks/**/*
!**/src/context/**/*
!**/src/interfaces/**/*
!**/src/transformation/**/*

